<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/colpick.css" type="text/css" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--script src="https://code.jquery.com/jquery.js"></script-->
    <script src="/js/jquery-2.0.3.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/colpick.js"></script>

     <script src="./midi/js/MIDI/AudioDetect.js" type="text/javascript"></script>
     <script src="./midi/js/MIDI/LoadPlugin.js" type="text/javascript"></script>
     <script src="./midi/js/MIDI/Plugin.js" type="text/javascript"></script>
     <script src="./midi/js/MIDI/Player.js" type="text/javascript"></script>
     <script src="./midi/js/Window/DOMLoader.XMLHttp.js" type="text/javascript"></script>
     <script src="./midi/js/Window/DOMLoader.script.js" type="text/javascript"></script>
     <!-- extras -->
     <script src="./midi/inc/Base64.js" type="text/javascript"></script>
     <script src="./midi/inc/base64binary.js" type="text/javascript"></script>

    <script>
    var socket = io.connect('http://localhost');
    //socket.on('new_work', function(){
    //  console.log(data);
    //  socket.emit('my other event', { name: 'TEST NAME'});
    //});

    </script>

    <script src="/js/midi_test.js"></script>

    <script src="/js/style.js"></script>

  </head>
  <body>

  <div id="doc" class="doc-content">
      <div id="hd_top" class="pure-g-r">
        <div id="gohome" class="pure-u-1-5">
          <a href="javascript:;"><i class="icon-home"></i> <%= title %></a>
        </div><div class="pure-u-4-5">
          <div id="social_link">
            <ul>
              <li class=""><a href="#"><i class="icon-facebook-sign"></i> </a></li>
            </ul>
          </div>
        </div><!--pure-u-2-3-->
      </div><!--hd_top-->
      
      <div id="hd" class="clearfix">
        <div class="clearfix">
          <!--img id="personal_img" src="people.jpg"/-->
          <h1 id="real_name"><i class="icon-pencil"></i>  <%= title %></h1>
        </div>
        <div id="logo_right">
        <button id="add_canvas" class="pure-button pure-button-large"><i class="icon-plus"></i> Add New</button>
        <button id="undo_canvas" class="pure-button pure-button-xlarge"><i class="icon-undo"></i>  Undo</button>
        <button id="redo_canvas" class="pure-button pure-button-xlarge"><i class="icon-rotate-right"></i> Redo</button>
        <button id="save_canvas" class="pure-button pure-button-warning pure-button-xlarge "><i class="icon-bullhorn"></i> Broadcast</button>
        <div id="msg" class="alert alert-success">Hi, You had Broadcase Your Works</div>
        </div> 
      </div><!--hd-->
      

      <div id="containter" class="pure-g-r">
              <div id="nav_link" class="pure-u-1-5">
              <nav class="content">
              <ul id="color_plate">
                  <li class="red"></li>
                  <li class="pink"></li>
                  <li class="orange"></li>
                  <li class="blue"></li>
                  <li class="green"></li>
                  <li class="yellow"></li>
              </ul>
              <!--label for="choose_color">Choose Other:<input id="choose_color" type="color"/></label-->
              <label for="choose_range"><i class="icon-pencil"></i>  Choose brush's width:<input id="choose_range" type="range" max="15" min="1" value="4" step="1"/></label>   

              <label for="allbackground_picker"><i class="icon-pencil"></i>  Background:
                <input id="allbackground" style="display:none"/>
                <div class="colorSelector"><div style="background: #0000ff"></div></div>
                <input type="text" id="allbackground_picker" class="input_color" placeholder="ffffff" autocomplete="off"> </label>

              </nav>
              </div><!--center part--><div id="news_and_ec" class="pure-u-3-5">
                <div id="newtab" class="clearfix">
                  <ul class="top clearfix">
                      <li class="cur"><!--a href=""-->My Works<!--/a--></li>
                      <!--li><a href="">Topic</a></li>
                      <li><a href="">Topic</a></li>
                      <li><a href="">Topic</a></li>
                      <li><a href="">Topic</a></li-->
                  </ul>
                  <div class="bd content">
                      <canvas id="myCanvas"  width="700" height="350">
                      </canvas>
                  </div><!--.bd-->
                </div><!--newtab-->

              
              </div>
              <div id="show_history"  class="pure-u-1-5">
                <h4 class="title"><i class="icon-bullhorn"></i> Broadcase </h4>
                <div id="paint_saved_history">

                <!--img class="canvasImg"/--><!--will insert img by js-->
                </div>
              </div><!--show_history-->


      </div><!--container-->    
      
      <div id="ft">
        <!--div id="div_link_group">
          <a href="">Contact Us</a>
          <a href="">Partner</a>
        </div-->
      <div id="copyright">Cagod Team at node.js knockout 2013  &copy; All Rights Reserved.</div>
      </div><!--#ft-->

      <div id="hellobox_shadow"></div>
      <div id="hellobox" class="pure-form pure-form-stacked">
          <fieldset>
              <legend>Hi, Artist! What is Your Name?</legend>

              <div class="hello_form_box">
                      <label for="username">Name:</label>
                      <input id="username" type="text">       
              </div>
              <button id="save_username" type="submit" class="pure-button pure-button-primary">Save</button>
              <button id="save_anno" type="submit" class="pure-button pure-button-secondary">Want to be Guest</button>
          </fieldset>
      </div>

  </div><!--#doc-->
  </body>
</html>
